.partners {
  padding-bottom: fluid(10rem, 7rem);

  &__title {
    .title__svg {
      top: 70%;
    }
  }

  &__disclaimer {
    margin-top: 3rem;
    max-width: 48rem;
    font-weight: 400;
    font-size: fluid(1.6rem, 1.4rem);
    line-height: 150%;
    color: #6f6f6f;
  }

  &-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: fluid(3rem, 3rem);

    @media (max-width: em(900)) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    @media (max-width: em(550)) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1rem solid rgba(2, 16, 43, 0.2);
      border-radius: 10px;
      min-height: fluid(20rem, 10rem);
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(15px);

      * {
        max-width: 80%;

        @media (max-width: em(500)) {
          max-width: 60%;
        }
      }
    }
  }

  &__caption {
    margin-top: fluid(3rem, 3rem);

    font-weight: 600;
    font-size: fluid(3rem, 2rem);
    line-height: 120%;
  }
}
